psycopg-binary
psycopg
dj_database_url
dotenv
SQLAlchemy==2.0.44

amqp==5.3.1
annotated-types==0.7.0
asgiref==3.10.0
browser-cookie3==0.20.1
Django
gunicorn
idna==3.11
itsdangerous==2.2.0
Jinja2==3.1.6
pillow==11.3.0
whitenoise==6.11.0
